
@{
    SmidgeHelper.RequiresCss(new Smidge.Models.CssFile("~/css/components/slider.css") { Order = 301 });
    SmidgeHelper.RequiresJs(new Smidge.Models.JavaScriptFile("~/scripts/components/slider.js") { Order = 1000 });
}

<div class="swiper component slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="container-fluid slider">
                <div class="component-item">
                    <div class="row">
                        <div class="col-7">
                            <div class="slider-info">
                                <h2 class="slider-info-head">
                                    <span>KUSURSUZ YAZILIMLAR,</span> <span class="br">KUSURSUZ MÜŞTERİLER</span> <span>İÇİN KULLANILIR!</span>
                                </h2>
                                <div class="slider-info-buttons">
                                    <a href="#" class="btn btn-success"><i class="fa fa-calendar"></i> DEMO İÇİN TARİH BELİRLEYİN</a>
                                    <a href="#" class="btn btn-danger"><i class="fa fa-eye"></i> ÖZELLİKLERİ GÖRÜN</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="slider-image">
                                <figure>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container-fluid slider">
                <div class="component-item">
                    <div class="row">
                        <div class="col-7">
                            <div class="slider-info">
                                <h2 class="slider-info-head">
                                    <span>KUSURSUZ YAZILIMLAR,</span> <span class="br">KUSURSUZ MÜŞTERİLER</span> <span>İÇİN KULLANILIR!</span>
                                </h2>
                                <div class="slider-info-buttons">
                                    <a href="#" class="btn btn-success"><i class="fa fa-analytics"></i> Bize Ulaşın</a>
                                    <a href="#" class="btn btn-danger"><i class="fa fa-database"></i> Bize Ulaşın</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="slider-image">
                                <figure>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container-fluid slider">
                <div class="component-item">
                    <div class="row">
                        <div class="col-7">
                            <div class="slider-info">
                                <h2 class="slider-info-head">
                                    <span>KUSURSUZ YAZILIMLAR,</span> <span class="br">KUSURSUZ MÜŞTERİLER</span> <span>İÇİN KULLANILIR!</span>
                                </h2>
                                <div class="slider-info-buttons">
                                    <a href="#" class="btn btn-success"><i class="fa fa-analytics"></i> Bize Ulaşın</a>
                                    <a href="#" class="btn btn-danger"><i class="fa fa-database"></i> Bize Ulaşın</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="slider-image">
                                <figure>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

<script type="text/javascript">

</script>