@import "../utils";

$elastic-header-padding: 35px 0 35px 0;
.elastic {
    &-header {
        padding: $elastic-header-padding;
        background-color: $white;
        @include box-shadow(0 0 3px rgba($black, 0.16));
        color: red;
    }
}
