@import "../utils";

.elastic {
    &-mega-menu {
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none none inside;

            li {
                margin: 0;
                padding: 0;

                a {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}
 