@{
    Layout = null;
    SmidgeHelper.RequiresCss(new Smidge.Models.CssFile("~/css/fontawesome/css/font-awesome.all.min.css") { Order = 10 });
    SmidgeHelper.RequiresCss(new Smidge.Models.CssFile("~/css/fontawesome/css/font-awesome.all.min.css") { Order = 12 });
    SmidgeHelper.RequiresCss(new Smidge.Models.CssFile("~/css/fontawesome/css/font-awesome.sharp-light.css") { Order = 14});
    SmidgeHelper.RequiresCss(new Smidge.Models.CssFile("~/css/fontawesome/css/font-awesome.sharp-regular.css") { Order = 16 });
    SmidgeHelper.RequiresCss(new Smidge.Models.CssFile("~/css/fontawesome/css/font-awesome.sharp-solid.css") { Order = 18 });
    SmidgeHelper.RequiresCss(new Smidge.Models.CssFile("~/css/animate.min.css") { Order = 100 });
    SmidgeHelper.RequiresCss(new Smidge.Models.CssFile("~/css/blockgrid.min.css") { Order = 200 });
    SmidgeHelper.RequiresCss(new Smidge.Models.CssFile("~/css/swiper.min.css") { Order = 300 });
    SmidgeHelper.RequiresCss(new Smidge.Models.CssFile("~/css/elastic.min.css") { Order = 400 });
    SmidgeHelper.RequiresJs(new Smidge.Models.JavaScriptFile("~/scripts/lodash.js") { Order = 0 });
    SmidgeHelper.RequiresJs(new Smidge.Models.JavaScriptFile("~/scripts/elastic.intent.js") { Order = 100 });
    SmidgeHelper.RequiresJs(new Smidge.Models.JavaScriptFile("~/scripts/elastic.megamenu.js") { Order = 110 });
    SmidgeHelper.RequiresJs(new Smidge.Models.JavaScriptFile("~/scripts/swiper.min.js") { Order = 200 });
    SmidgeHelper.RequiresJs(new Smidge.Models.JavaScriptFile("~/scripts/elastic.js") { Order = 300 });
}

<!DOCTYPE html>
<html lang="@CurrentLanguageCode">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Component.InvokeAsync(typeof(TitleViewComponent))
    @await SmidgeHelper.CssHereAsync(debug: UmbracoHostingSettings.Value.Debug)
</head>
<body>
    <main class="elastic">
        <header class="elastic-header">
            <div class="container">
                <div class="row gx-5 justify-content-center align-items-stretch">
                    <div class="col-6 col-lg-4 col-xl-3 col-xxl-2">
                        @await Component.InvokeAsync(typeof(HeaderLogoViewComponent))
                    </div>
                    <div class="col">
                        @await Component.InvokeAsync(typeof(TopNavigationViewComponent))
                    </div>

                    <div class="col-1">
                        @await Component.InvokeAsync(typeof(SearchViewComponent))
                    </div>
                </div>
            </div>
        </header>

        <aside class="elastic-body">
            @RenderBody()
        </aside>
        <footer class="elastic-footer">
            footer
        </footer>
    </main>

    @await SmidgeHelper.JsHereAsync(debug: UmbracoHostingSettings.Value.Debug)
    @if (IsSectionDefined("ScriptBlocks"))
    {
        @RenderSection("ScriptBlocks", required: false)
    }
</body>

</html>
